<div *ngIf="hero !== undefined">
  <h2>{{ hero.name | uppercase }}</h2>
  <div><span>Id: </span>{{ hero.id }}</div>
  <div *ngFor="let city of cities">
    <div *ngIf="city.id === hero.cityId">
      <span>City: </span>
      <a routerLink="/city/{{ city.id }}">
        {{ city.name }}
      </a>
    </div>
  </div>

  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button type="button" (click)="goBack()">Go Back</button>
  <button type="button" (click)="save()">save</button>
</div>
