<div *ngIf="city != null">
  <h2 style="display: flex; justify-content: center">{{ city.name }} &nbsp;</h2>

  <div>
    <h3>Change City Name:</h3>
    <input id="city" [(ngModel)]="city.name" placeholder="name" />
    <button type="button" (click)="saveCity()">save</button>
  </div>

  <div>
    <h3>List of Heroes in {{ city.name }}:</h3>
    <button
      *ngFor="let hero of getHeroesByCity(city.id)"
      (click)="removeHero(hero.id)"
    >
      {{ hero.name }}
    </button>
  </div>

  <div>
    <h3>List of Heroes that can be assigned:</h3>
    <button
      *ngFor="let hero of getHeroesNotInCity(city.id)"
      (click)="addHero(hero.id)"
    >
      {{ hero.name }}
    </button>
  </div>
</div>
