<div *ngIf="city != null">
  <h2 style="display: flex; justify-content: center">{{ city.name }} &nbsp;</h2>

  <div>
    <h3>Change City Name:</h3>
    <input id="city" [(ngModel)]="city.name" placeholder="name" />
    <button type="button" (click)="saveCity()">save</button>
  </div>

  <div>
    <h3>List of Heroes in {{ city.name }}:</h3>
    <div *ngFor="let hero of heroes">
      <button *ngIf="hero.city === city.id" (click)="removeHero(hero)">
        {{ hero.name }}
      </button>
    </div>
    <h3>List of Heroes not in {{ city.name }}:</h3>
    <div *ngFor="let hero of heroes">
      <button *ngIf="hero.city === null" (click)="addHero(hero)">
        {{ hero.name }}
      </button>
    </div>
  </div>
</div>
